export( "isdm", "makeMesh", "checkMesh", "PopEstimate", "simulateData.isdm")
S3method( predict, isdm)
S3method( summary, isdm)
S3method( plot, isdm)
importFrom( "raster", "extent", "rasterFromXYZ", "extract", "union", "coordinates", "plot", "buffer", "values", "raster", "crs", "nlayers", "extend")
importFrom( "INLA", "inla", "inla.stack.index","inla.stack", "inla.sp2segment", "inla.mesh.2d", "inla.spde.make.A", "inla.mesh.projector","inla.spde2.pcmatern", "inla.stack.data", "inla.stack.A", "inla.nonconvex.hull", "inla.posterior.sample")
importFrom( "deldir", "deldir", "tile.list")
importFrom( "rgeos","union", "area.poly", "intersect")
importFrom( "sp", "SpatialPointsDataFrame", "CRS","plot", "over", "SpatialPoints", "SpatialPolygons", "Polygons", "Polygon")
importFrom( "parallel", "detectCores")
importFrom( "methods", "as", "hasArg")
importFrom( "stats","terms","update","dist","median","quantile","model.matrix", "qnorm", "predict")
importFrom( "graphics", "abline", "hist", "legend", "lines", "points","par")
importFrom( "grDevices", "grey")
importFrom( "maptools", "checkPolygonsHoles")
importFrom( "methods","slot")
importFrom( "utils", "tail","head")
importFrom( "Matrix", "Diagonal")
