export( "isdm", "makeMesh", "checkMesh", "PopEstimate", "simulateData.isdm")
S3method( predict, isdm)
S3method( summary, isdm)
S3method( plot, isdm)
S3method( residuals, isdm)
importFrom( "INLA", "inla.spde.make.A", "inla.stack", "inla.mesh.2d", "inla.nonconvex.hull", "inla.sp2segment", "inla.posterior.sample", "inla.stack.index", "inla.spde2.pcmatern", "inla", "inla.stack.data", "inla.stack.A")
importFrom( "terra", "rast", "values", "extract","crds","ext","scale","as.data.frame", "res", "ncol", "buffer", "union", "area", "is.lonlat", "nrow", "xFromCol", "yFromRow", "cellFromXY", "ncell", "nlyr", "names")
importFrom( "sf", "st_multipoint", "st_as_sf", "st_coordinates", "st_sfc", "st_polygon", "st_buffer", "st_crs", "st_point", "st_intersects")
importFrom( "parallel", "detectCores")
importFrom( "methods", "as", "hasArg", "slot")
importFrom( "stats","terms","update","dist","median","quantile","model.matrix", "qnorm", "predict", "rnorm", "update.formula", "na.omit", "fft", "reformulate")
importFrom( "graphics", "abline", "hist", "legend", "lines", "points","par","plot.new", "matplot", "polygon")
importFrom( "grDevices", "grey")
importFrom( "utils", "tail","head")
importFrom( "colorRamps", "matlab.like2")

